# Movie recommendation system data processing by abhakta-47

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
columns_movie = ['genres','belongs_to_collection','id','original_title','popularity','production_companies','runtime','vote_average','vote_count']
movie_df = pd.read_csv('movies_metadata.csv',usecols=columns_movie,)

/home/abdev/projects/mlai-projects/movie-recommendation/venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
movie_df.head()

,belongs_to_collection,genres,id,original_title,popularity,production_companies,runtime,vote_average,vote_count
0,"{'id': 10194, 'name': 'Toy Story Collection', ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,Toy Story,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]",81.0,7.7,5415.0
1,NaN,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,Jumanji,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",104.0,6.9,2413.0
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...","[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,Grumpier Old Men,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",101.0,6.5,92.0
3,NaN,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,Waiting to Exhale,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,127.0,6.1,34.0
4,"{'id': 96871, 'name': 'Father of the Bride Col...","[{'id': 35, 'name': 'Comedy'}]",11862,Father of the Bride Part II,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...",106.0,5.7,173.0

In [4]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4494 non-null   object
 1   genres                 45466 non-null  object
 2   id                     45466 non-null  object
 3   original_title         45466 non-null  object
 4   popularity             45461 non-null  object
 5   production_companies   45463 non-null  object
 6   runtime                45203 non-null  float64
 7   vote_average           45460 non-null  float64
 8   vote_count             45460 non-null  float64
dtypes: float64(3), object(6)
memory usage: 3.1+ MB

In [5]:
# movie_df = movie_df.sample(n=1000)
# movie_df.info()

In [6]:
movie_df.dtypes
# movie_df['id'] = movie_df['id'].astype('string').astype('int64')
movie_df['title'] = movie_df.original_title.astype('string')
movie_df['runtime'] = movie_df.runtime.astype('float')
movie_df.drop(columns='original_title',inplace=True)
# movie_df.info()

In [7]:
# popularity
def map_popularity(item):
    if str(item).replace('.', '', 1).isdigit():
        return float(item)
    else:
        return np.nan
movie_df['popularity'] = movie_df.popularity.astype('string').apply(map_popularity).astype('float')

In [8]:
# import literal eval
from ast import literal_eval

In [9]:
# collection
collections = []
# tmp=[]

def get_coll(item):
    if str(item) == 'nan':
        return None
    else:
        tmp = str(item).split(', ')
        if(tmp.__len__()==1):
            # print(tmp)
            return None
        tmp = literal_eval(item)
        id = tmp['id']
        name = tmp['name']
        collections.append({'coll_id':id,'coll_name':name})
    return int(id)
        
movie_df['collection'] = movie_df.belongs_to_collection.apply(get_coll).astype('Int64')
movie_df.drop(columns='belongs_to_collection',inplace=True)

# collections df
collections_df = pd.DataFrame(columns=['coll_id','coll_name'],data=collections)
collections_df.drop_duplicates(inplace=True)
collections_df.info()
collections_df.to_csv('collections.csv', index=False)

movie_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1695 entries, 0 to 4490
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   coll_id    1695 non-null   int64
 1   coll_name  1695 non-null   object
dtypes: int64(1), object(1)
memory usage: 39.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   genres                45466 non-null  object
 1   id                    45466 non-null  object
 2   popularity            45305 non-null  float64
 3   production_companies  45463 non-null  object
 4   runtime               45203 non-null  float64
 5   vote_average          45460 non-null  float64
 6   vote_count            45460 non-null  float64
 7   title                 45466 non-null  string
 8   collection            4491 non-null   Int64
dtypes: Int64(1), float64(4), object(3), string(1)
memory usage: 3.2+ MB

In [10]:
def get_id(item):
    if str(item).isdigit():
        return int(item)
    else:
        return np.nan

movie_df['id'] = movie_df['id'].apply(get_id).astype('Int64')
movie_df.id.dropna()

0           862
1          8844
2         15602
3         31357
4         11862
          ...
45461    439050
45462    111109
45463     67758
45464    227506
45465    461257
Name: id, Length: 45463, dtype: Int64

In [11]:
movie_df['genres']

0        [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1        [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2        [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3        [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                           [{'id': 35, 'name': 'Comedy'}]
                               ...
45461    [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
45462                        [{'id': 18, 'name': 'Drama'}]
45463    [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
45464                                                   []
45465                                                   []
Name: genres, Length: 45466, dtype: object

In [12]:
# genres
genres = []

def get_genre(item):    
    tmp = literal_eval(item)
    genre_ids = []
    for genre in tmp:
        id = genre["id"]
        name = genre["name"]
        # print(id,name)
        genre_ids.append(id)
        genres.append({'genre_id':id,'genre_name':name})
    # print()
    return genre_ids

# print(genres)
movie_df['genres'] = movie_df.genres.apply(get_genre)

# genres df
genres_df = pd.DataFrame(columns=['genre_id','genre_name'],data=genres)
genres_df['genre_id'] = genres_df['genre_id'].astype('string')
genres_df['genre_name'] = genres_df['genre_name'].astype('string')
genres_df.drop_duplicates(inplace=True)
genres_df.to_csv('genres.csv',index=False)

In [13]:
# movie_df['production_companies'].
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   genres                45466 non-null  object
 1   id                    45463 non-null  Int64
 2   popularity            45305 non-null  float64
 3   production_companies  45463 non-null  object
 4   runtime               45203 non-null  float64
 5   vote_average          45460 non-null  float64
 6   vote_count            45460 non-null  float64
 7   title                 45466 non-null  string
 8   collection            4491 non-null   Int64
dtypes: Int64(2), float64(4), object(2), string(1)
memory usage: 3.2+ MB

In [14]:
# productions
productions = []

def get_production(item):
    if str(item)=='nan':
        # print(item)
        return []

    tmp = literal_eval(item)
    if type(tmp)==type(True):
        # print(item)
        return []

    production_ids = []
    for production in tmp:
        id = production["id"]
        name = production["name"]
        # print(id,name)
        production_ids.append(id)
        productions.append({'production_id':id,'production_name':name})
    # print()
    return production_ids

# print(productions)
movie_df['production_companies'] = movie_df.production_companies.apply(get_production)

# productions df
productions_df = pd.DataFrame(columns=['production_id','production_name'],data=productions)
productions_df['production_id'] = productions_df['production_id'].astype('string')
productions_df['production_name'] = productions_df['production_name'].astype('string')
productions_df.drop_duplicates(inplace=True)
productions_df.to_csv('productions.csv',index=False)

In [15]:
movie_df['production_companies'] = movie_df.new_production_companies
movie_df.drop(columns='new_production_companies',inplace=True)

AttributeError: 'DataFrame' object has no attribute 'new_production_companies'

In [ ]:
movie_df.to_csv('movies_processed.csv', index=False)

In [ ]:
movie_df.to_pickle('movies_processed.pk')

In [25]:
productions_df[(productions_df['production_name']=='DC Entertainment')]

     production_id   production_name
3022          9993  DC Entertainment