In [1]:
import numpy as np
import pandas as pd

In [8]:
columns_movie = ['genres','id','original_title']
dtype_movie = {}
# dtype_movie = {'id': np.int32}
movie_df = pd.read_csv('movies_metadata.csv',usecols=columns_movie, )

[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]

AttributeError: 'dict' object has no attribute 'zip'

In [23]:
# genres
genres = []

def get_genre(item):
    
    tmp = literal_eval(item)
    genre_ids = []
    for genre in tmp:
        id = genre["id"]
        name = genre["name"]
        # print(id,name)
        genre_ids.append(id)
        genres.append({'genre_id':id,'genre_name':name})
    # print()
    return genre_ids

# print(genres)
movie_df['new_genres'] = movie_df.genres.apply(get_genre)

# genres df
# genres_df = pd.DataFrame(columns=['genre_id','genre_name'],data=genres)
# genres_df['genre_id'] = genres_df['genre_id'].astype('string')
# genres_df['genre_name'] = genres_df['genre_name'].astype('string')
# genres_df.drop_duplicates(inplace=True)
# genres_df.to_csv('genres.csv',index=False)

In [25]:
# genres df
genres_df = pd.DataFrame(columns=['genre_id','genre_name'],data=genres)
genres_df['genre_id'] = genres_df['genre_id'].astype('string')
genres_df['genre_name'] = genres_df['genre_name'].astype('string')
genres_df.drop_duplicates(inplace=True)
genres_df.to_csv('genres.csv',index=False)

In [27]:
movie_df

,genres,id,original_title,new_genres
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,Toy Story,"[16, 35, 10751]"
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,Jumanji,"[12, 14, 10751]"
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,Grumpier Old Men,"[10749, 35]"
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,Waiting to Exhale,"[35, 18, 10749]"
4,"[{'id': 35, 'name': 'Comedy'}]",11862,Father of the Bride Part II,[35]
...,...,...,...,...
45461,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",439050,رگ خواب,"[18, 10751]"
45462,"[{'id': 18, 'name': 'Drama'}]",111109,Siglo ng Pagluluwal,[18]
45463,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,Betrayal,"[28, 18, 53]"
45464,[],227506,Satana likuyushchiy,[]
45465,[],461257,Queerama,[]